<div class="container">
  <h1> Create route for city: {{city}} </h1>

  <div id="routeMap" style="width:500px;height:380px;"></div>
  <hr />

  <form class="row">
    <div class="col-md-6">
      <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Route description" required></textarea>
    </div>
  </form>

  <div>
    <button (click)="showRoute()" class="btn btn-primary"> Preview </button>
    <button (click)="saveRoute()" class="btn btn-success"> Save </button>
    <button (click)="resetMap()" class="btn btn-danger"> Reset </button>
  </div>
</div>